TASTYTRADE_CLIENT_ID=d19b3650-b190-443d-9c59-90dd85a24ae9
TASTYTRADE_CLIENT_SECRET=97d05319e7675f39279d34ce5b564a5cd636e613
TASTYTRADE_REFRESH_TOKEN=
TASTYTRADE_REDIRECT_URI=http://localhost:8080/callback
TASTYTRADE_ENV=sandbox

PORT=3000
WS_PORT=3001
